* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 14px;
}

.bodywrap {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}


:root {
    --black-color: #000;
    --light-gray-color: #eee;
    --white-color: #fff;
    --secondary-color: #00B2A9;
    --main-color: #FF7D01;
    --font-text-12: 12px;
    --font-text-14: 14px;
    --font-text-18: 18px;
}

/* I. Header */
.top_header {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.top_header p {
    font-weight: 450;
}

.bottom_header {
    min-height: 100px;
    width: 100%;
}

.container_bt_header {
    margin: 10px 0px;
}

.container {
    width: 100%;
}

.container_content {
    display: flex;
    align-items: center;
    width: 1300px;
    height: 100px;
    margin: 0 auto;
}

.tab_menu {
    display: none;
    position: relative;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.overlay.active {
    display: block;
}

.tab_menu button {
    padding: 10px;
    background-color: var(--light-gray-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
}

.item_tab i {
    font-size: 18px;
    color: var(--main-color);
}



.list_item_menu_tab {
    top: -82.5px;
    width: 530%;
    left: -10px;
    z-index: 999;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--white-color);
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.list_item_menu_tab.active {
    display: block;
    /* Hiện khi có class active */
    transform: translateX(0);
}

.logo_tab_menu {
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}

.logo_tab_menu img {
    width: 100%;
    height: 100%;
}

.main_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin: 5px 10px;
    padding: 10px 0;
    border-radius: 5px;
}

.main_item span {
    color: var(--white-color);
    font-weight: bold;
}

.item_tab {
    padding: 14px 16px;
}

.item_tab a {
    color: var(--black-color);
    font-weight: bold;
}

.tab_sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_content .logo {
    display: block;
}

.container_content .logo img {
    object-fit: cover;
    overflow: hidden;
    width: 250px;
    height: 100%;
}

.search_container {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-color);
    border-radius: 5px;
    width: 410px;
    height: 40px;
    position: relative;
    margin-left: 30px;
    margin-right: 20px;
}

#searchResults {
    overflow-y: auto;
    max-height: 500px;
    position: absolute;
    max-width: 100%;
    width: 410px;
    top: 100%;
    background-color: var(--white-color);
    z-index: 1000000;
    border-radius: 5px;
    border: 1px solid var(--silver-gray-color);
}

.search_title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: relative;
    color: #006a31;
}

.search_title span::before {
    background: #006a31;
    content: '';
    right: 0;
    left: 0;
    position: absolute;
    bottom: -5px;
    height: 3px;
    display: block;
    z-index: 1;
    width: 10%;
}

.search_list {
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    border-bottom: 1px solid var(--silver-gray-color);
}

.search_list a img {
    width: 80px;
    height: 60px;
}

.search_info {
    margin-left: 10px;
}

.search_info a span {
    font-size: var(--font-text-14);
    color: var(--black-color);
    font-weight: bold;
}

.search_info p {
    font-size: var(--font-text-14);
    color: var(--secondary-color);
    margin-top: 15px;
    font-weight: 500;
}

.search_seeMore {
    width: 100%;
    text-align: center;
}

.search_seeMore a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--main-color);
}

.search_seeMore a:hover {
    background-color: var(--secondary-color);
}

.search_container input[type="text"] {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    font-size: 13px;
    color: #333;
    margin: 15px;
}

.search_container button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    padding: 8px 15px;
}

.search_container button {
    font-size: large;
    color: var(--white-color);
}

.contact {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 70px;
}

.contact img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.contact_content {
    display: block;
}

.contact_content .title {
    font-weight: 550;
    display: block;
    margin-bottom: 5px;
}

.contact_content .phone {
    color: var(--secondary-color);
    font-weight: 550;
    display: block;
}

.user {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray-color);
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
}

.user i {
    font-size: 25px;
    color: var(--main-color);
}

.subnav_user {
    width: 200px;
    position: absolute;
    top: 113%;
    left: 50%;
    transform: translateX(-93%);
    margin-top: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.subnav_user .icon_up {
    /* display: block; */
    position: absolute;
    top: -20px;
    /* Đặt mũi tên vào bên trong và dính sát subnav */
    left: 175px;
    /* Điều chỉnh để mũi tên nằm gần bên trái */
    font-size: 15px;
    color: var(--white-color);
}

.user:hover .subnav_user {
    opacity: 1;
    visibility: visible;
}


.list_user a:hover {
    color: var(--secondary-color);
}

.list_user {
    width: 100%;
    text-align: left;
    background-color: var(--white-color);
    padding-top: 10px;
}

.list_user li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.list_user a {
    display: flex;
    align-items: center;
    color: var(--black-color);
    text-decoration: none;
    width: 100%;
}

.list_user i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--black-color);
}

.list_user span {
    font-size: var(--font-text-14);
}


.list_user a:hover {
    color: var(--secondary-color);
}

.cart i {
    font-size: 25px;
    color: var(--main-color);
}

.cart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray-color);
    border-radius: 50%;
    margin: 0px 10px;
    position: relative;
}

.cart .quantity {
    position: absolute;
    top: -5px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 11px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.btn_1,
.btn_2 {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    color: var(--white-color);
    margin-right: 10px;
}

.btn_1:hover,
.btn_2:hover {
    background-color: var(--main-color);
}


/* II. Navigation */
.container_nav {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

.menu_nav {
    width: 1300px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.list_nav {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
}

.nav_item a {
    font-size: 16px;
    padding: 5px;
    color: var(--white-color);
}

.nav_item:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.nav_item i {
    transition: transform 0.3s ease;
}

.nav_item:hover i {
    transform: rotate(180deg);
}

.list_subnav {
    position: absolute;
    top: 113%;
    left: -40px;
    width: 200px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    text-align: center;
    z-index: 1000;
    border-radius: 5px;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.list_subnav li {
    width: 100%;
    padding: 5px;
}

.logo_brand img {
    width: 100%;
}

.list_subnav hr {
    border: 1px solid var(--light-gray-color);
    margin: 0px auto;
    width: 5%;

}

.list_subnav li a {
    color: var(--black-color);
    width: 100%;
    display: block;
    text-decoration: none;
}

.nav_item:hover .list_subnav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav_item:hover .list_subnav hr {
    width: 90%;
    transition: all 1.5s ease;
}

.list_subnav li a:hover {
    color: var(--secondary-color);
    font-size: var(--font-text-18);
    transition: all 0.3s ease;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

::-webkit-scrollbar-corner {
    background: #f0f0f0;
}

/* reponsive */
@media (max-width: 1024px) {
    .container_content .logo img {
        width: 150px;
    }

    .search_container {
        width: 230px;
    }


    .container_content {
        padding: 0 10px;
        gap: 0px;
        justify-content: space-between;
        width: 100%;
    }

    .contact,
    .user,
    .cart {
        margin: 0 5px;
    }

    .btn_1,
    .btn_2 {
        padding: 10px 20px;
    }

    .container_nav {
        padding: 0 30px;
    }

    .menu_nav {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .list_nav {
        gap: 25px;
        justify-content: space-evenly;
    }

    .nav_item {
        padding: 10px 0px;
    }

    .nav_item a {
        font-size: 16px;
    }

    .nav_item:hover {
        background-color: var(--secondary-color);
        border-radius: 5px;
    }

    .list_subnav {
        width: 150px;
    }

    .cart .quantity {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }

    .user i,
    .cart i {
        font-size: 22px;
    }

    .subnav_user {
        width: 150px;
    }

    .search_container input[type="text"] {
        font-size: 14px;
    }

    .top_header p {
        font-size: 16px;
    }
}

@media(max-width: 376px) {

    .container_content .logo img {
        width: 225px;
    }

    .contact,
    .user,
    .btn_1,
    .btn_2 {
        display: none;
    }

    .tab_menu {
        display: block;
    }

    .container_content {
        position: relative;
        margin-bottom: 50px;
    }

    .logo {
        position: absolute;
        top: -65px;
        left: 80px;
    }

    .logo a {
        display: block;
    }

    .search_container {
        position: absolute;
        top: 100px;
        left: 10px;
        width: 345px;
        margin: 0;
    }

    nav {
        display: none;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    /* Ẩn nút mặc định */
    visibility: hidden;
    z-index: 1000;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top:hover {
    background-color: var(--secondary-color);
}

.scroll-to-top i {
    font-size: 20px;
}