body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.k-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
} */
form{
    display: flex;
}

.box-form{
    width: 30%;
}

.form_left,
.form_right {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form_left {
    width: 70%;
}

.form_right {
    width: 90%;
    margin-left: 10px;
    height: 50%;
}

.btn-primary_ac {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5578eb;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.k-form_foot{
    margin-top: 20px;
    margin-left: 10px;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.k-portlet {
    margin-bottom: 20px;
}

.k-portlet_head {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.k-portlet_head-title h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 0;
    font-weight: 600;
    color: #333;
}

.form-group input:focus{
    border: 1px solid #007bff;
}

.form-group textarea {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
    resize: vertical;
    transition: border-color 0.3s;
    outline: none;
}

.form-group textarea:focus {
    border-color: #007bff;
    background-color: #fff;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.form-group input[type="file"]::-webkit-file-upload-button {
    color: #007bff;
    background: none;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s;
    outline: none;
}

.form-control:focus {
    outline: none;
}

.dropdown-content {
    padding: 0;
    margin: 0;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    width: 200px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content li {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f0f0f0;
}

.dropdown-checkbox:checked~.dropdown-content {
    display: block;
}