* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
}

body {
    background-color: #F8F8FB;
}

:root {
    --main-color: #FF7D01;
    --white-color: #ffff;
    --secondary-color: #00B2A9;
    --dark-blue-color: #242939;
    --gunmetal-color: #1F2433;
    --black-color: #000;
    --silver-gray-color: #BFBFBF;
    --light-gray-color: #eee;
    --gainsboro-color: #d9d9d9;
    --grayish-blue-color: #484f66;
    --slate-gray-color: #7C8197;
    --font-text-12: 12px;
    --font-text-14: 14px;
    --font-text-16: 16px;
    --font-text-20: 20px;
    --font-text-24: 24px;
}


.sidenav_header,
.header_admin {
    box-shadow: 2px 2px 5px rgba(208, 205, 205, 0.3);
}

aside.sidenav {
    width: 17%;
}

/* sidenav-header */
.side_header {
    position: fixed;
    float: left;
    min-height: 790px;
    background-color: var(--dark-blue-color);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand_logo {
    margin-right: 10px;
    padding: 10px;
}



.btn__tool {
    position: relative;
    width: 40px;
    /* Điều chỉnh kích thước nếu cần */
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Thanh trên */
.btn__tool::before {
    content: "";
    display: block;
    width: 18px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--grayish-blue-color);
    position: absolute;
    top: 8px;
    right: 15px;
    transition: width 0.5s ease, background-color 0.3s ease;
}

/* Thanh giữa */
.btn__tool::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--grayish-blue-color);
    position: absolute;
    top: 16px;
    right: 15px;
    transition: width 0.5s ease, background-color 0.3s ease;
}

/* Thanh dưới cùng */
.btn__tool-bar {
    display: block;
    width: 17px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--grayish-blue-color);
    position: absolute;
    top: 24px;
    right: 15px;
    transition: width 0.5s ease, background-color 0.3s ease;
}

.btn__tool:hover::before,
.btn__tool:hover::after,
.btn__tool:hover .btn__tool-bar {
    width: 25px;
    transition: width 0.5s ease, background-color 0.3s ease;
    background-color: var(--light-gray-color);
}

/* menu_wrapper */

.menu_wrapper {
    margin-top: 20px;
}

.item_menu a {
    padding: 9px 30px;
}

/* Style for the taskbar */
.taskbar {
    width: 100%;
    display: inline-block;
}


/* trạng thái khi có active */
.taskbar-button.active,
.dropdown-menu.active {
    background-color: var(--gunmetal-color);
    color: #ffff;
}

.taskbar-button.active i {
    color: #384AD7;
}

.taskbar-button {
    display: flex;
    align-items: center;
    padding: 15px 27px;
    border: none;
    cursor: pointer;
    color: var(--slate-gray-color);
}

.taskbar-button:hover {
    background-color: var(--gunmetal-color);
    color: #ffff;
}

.taskbar-button:hover .icon_taskbar i {
    color: #536BE2;
}

.icon_taskbar {
    margin-right: 10px;
}

.icon_taskbar i {
    font-size: 18px;
}

/* CSS cho menu dropdown */
.dropdown-menu {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--dark-blue-color);
    z-index: 1;
    max-height: 0;
    overflow: hidden;
}

/* Khi thêm lớp show */
.dropdown-menu.show {
    opacity: 1;
    transform: scaleY(1);
    max-height: 500px;
    /* Đặt chiều cao tối đa phù hợp với nội dung */
}

.item_dropdow_menu {
    background-color: var(--gunmetal-color);

}

.item_dropdow_menu.active {
    background-color: var(--gunmetal-color);
    color: #fff;
}

.item_dropdow_menu.active i {
    color: #536BE2;
}

.item_dropdow_menu.active a {
    color: #ffff;
}

/* Khi thêm lớp show */
.dropdown-menu.show {
    opacity: 1;
    transform: scaleY(1);
    max-height: 500px;
}



.item_dropdow_menu i {
    font-size: 5px;
    margin-right: 10px;
}

.item_dropdow_menu a {
    color: var(--slate-gray-color);
}

.dropdown-menu .item_dropdow_menu {
    cursor: pointer;
    color: var(--slate-gray-color);
    padding: 15px 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-menu .item_dropdow_menu:hover {
    background-color: var(--gunmetal-color);
    color: #ffff;
}

.dropdown-menu .item_dropdow_menu:hover i {
    color: #536BE2;
}

.dropdown-menu .item_dropdow_menu:hover a {
    color: #ffff;
}

/* header */
header {
    max-height: 65px;
    background-color: var(--white-color);
    color: white;
    display: flex;
}



.btn_shop {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.btn_shop a {
    color: var(--black-color);
}

.btn_shop:hover {
    color: var(--gunmetal-color);
}

.logo_ninja {
    display: flex;
    align-items: center;
}

.logo_ninja img {
    max-width: 38px;
    max-height: 38px;
}

.info_users {
    display: flex;
    align-items: center;
}

.info_users span {
    margin-right: 5px;
}

.name_users {
    font-weight: bold;
}

.header_rigth {
    padding: 3px 10px;
    background-color: white;
    color: #333;
    border-radius: 20px;
}

.k-content {
    margin-top: 7%;
    width: 83%;
    margin-left: 17%;
}

.k-content_head-main {
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
}

.k-content_head-title {
    margin: 0;
    padding: 0 2.25rem 0 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.k-content__head-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.k-content__head-breadcrumb-home i {
    color: #aba7c9;
}

.k-content__head-breadcrumb-link i {
    font-size: 4px;
    margin-top: 4px;
    margin-right: 8px;
    color: #aba7c9;
}

.k-content__head-breadcrumb-link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 10px;
    color: #aba7c9;

}

.k-content__head-breadcrumb-link:hover {
    color: #6982FF;
}

.k-form_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.k-form_head-title h3 {
    font-size: 1.3rem;
    padding: 10px;
}

.k-form {
    display: block;
    width: 98%;
}

.k-form_body {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    border-bottom: 1px solid #EBEDF2;
}

.form-group {
    padding: 10px;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EBEDF2;
    margin-top: 10px;
    outline: none;
}

select {
    margin-top: 10px;
}

.form-group input:focus {
    border: 1px solid #387DFF;
    box-shadow: 0 0 1px rgba(56, 125, 255, 0.5);
    background-color: #F8FAFF;
}


.form-group-select {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.form-group-select label {
    font-size: 14px;

}

.form-group-select select {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EBEDF2;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}

.allow-login,
.channel {
    width: 50%;
}

.allow-login label,
.channel label {
    display: block;
}


.box-group {
    display: flex;
}

.box-group > .form-group, .form-group-select {
    width: 50%;
}
.k-form_foot {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    border-bottom: 1px solid #EBEDF2;
}

.k-form_actions {
    padding: 5px 10px;
}

.k-form_actions .btn-save {
    width: 10%;
    padding: 10px;
    border: none;
    background-color: #5867DD;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;

}

.k-form_actions .btn-save:hover {
    opacity: 1;
    cursor: pointer;
}

.k-form_actions .btn-cancel {
    padding: 10px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #dbdcdc;

}

.k-form_actions .btn-cancel:hover {
    cursor: pointer;
    background-color: #F4F5F8;
}

.k-form_actions .btn-delete {
    padding: 10px;
    border: none;
    background-color: #FFEBF1;
    border-radius: 5px;
    border: 1px solid #FD397A;
    color: #FD397A;
    float: right;
}

.k-form_actions .btn-delete:hover {
    cursor: pointer;
    color: #FFEBF1;
    background-color: #FD397A;
}