:root {
    --main-color: #FF7D01;
    --secondary-color: #00B2A9;
    --black-color: #000;
    --white-color: #ffff;
    --silver-gray-color: #BFBFBF;
    --light-gray-color: #eee;
    --gainsboro-color: #d9d9d9;
    --reddish-pink-color: #E4465C;
    --sky-blue-color: #64B6E4;
    --emerald-green-color: #32B268;
    --font-text-12: 12px;
    --font-text-14: 14px;
    --font-text-16: 16px;
    --font-text-20: 20px;
    --font-text-24: 24px;
}

.page_customer_account {
    margin-top: 50px;
}

.container_acc {
    margin: 0px auto;
    max-width: 1300px;
}

.title_account {
    margin-bottom: 10px;
}

.row .block_account {
    padding: 0px 10px;
}

.row .block_account p {
    font-size: var(--font-text-16);
    font-weight: bold;
}

.row .block_account p span {
    color: var(--main-color);
}

.block_account ul {
    margin-top: 30px;
}

.block_account ul li {
    margin-bottom: 20px;
}

.block_account ul li:hover a {
    color: var(--main-color);
}

.title_info {
    color: var(--black-color);
    text-decoration: none;
}

.title_info.active {
    color: var(--main-color);
}


.form-signup {
    margin-top: 30px;
}

.form-signup p {
    margin-bottom: 20px;
}

.block_account {
    width: 30%;
}

.col_right_ac {
    width: 70%;
}

.product_relate {
    width: 70%;
    margin-top: 30px;
    padding: 0px 10px;
}

.product_relate h2 a {
    color: var(--black-color);
}

/* Orders */
.my_account {
    margin-top: 30px;
}

.table_order {
    width: 100%;
}

.thead_default tr th {
    border-bottom: 1px solid #dee2e6;
    background: var(--main-color);
    color: #fff;
    padding: 5px;
}

tbody tr td {
    padding: 5px;
    /* text-align: center; */
    border: 1px solid var(--light-gray-color);
}

/* ChangePass */
.form_signup {
    margin-top: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    outline: none;
}

label {
    margin-bottom: 5px;
}

.form_control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-bottom: 2px solid var(--main-color);
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}

.btn_edit_addr {
    padding: 15px 10px;
    border-radius: 5px;
    width: 40%;
    color: var(--white-color);
    border: none;
    background-color: var(--main-color);
}

.btn_edit_addr:hover {
    background-color: var(--secondary-color);
    transition: all 0.2s ease;
}

/* Address */
.btn-row {
    margin-top: 30px;
}

.btn_row .btn_more {
    color: var(--white-color);
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--main-color);
    border: none;
}

.btn_row .btn_more a {
    color: var(--white-color);
}

.btn_row hr {
    margin-top: 15px;
    border: 1px solid var(--light-gray-color);
}

.total_address {
    margin-top: 30px;
}

.address p {
    font-size: var(--font-text-14);
    margin-bottom: 20px;
}

.address_default {
    margin-left: 10px;
    font-size: var(--font-text-12);
    color: var(--emerald-green-color);
}

.btn_address {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.btn_row button {
    padding: 10px;
    background: none;
    border: none;
    color: var(--sky-blue-color);
}

.btn_row button:hover {
    color: var(--white-color);
    background-color: var(--main-color);
    transition: all 0.2s ease;
}

/* add Address */
.col_right_ac hr {
    margin-top: 10px;
    border: 1px solid var(--light-gray-color);
}

form#customer_address {
    width: 75%;
}

.form_address {
    padding: 10px 0px;
}

.form_address .form_group {
    position: relative;
}

.form_address .form_group .form_control {
    padding: 18px 10px 3px 20px;
    border: 1px solid var(--light-gray-color);
}

.form_address .form_group label {
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 17px;
    transition: all 0.2s ease;
}

.form_address .form_group .form_control:focus+label,
.form_group .form_control:valid+label {
    font-size: 12px;
    top: 2px;
    left: 21px;
    padding: 0;
    color: var(--main-color);
}

.form_group_contry{
    display: flex;
    justify-content: space-between;
}

.custom_select {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23999" viewBox="0 0 16 16"><path d="M4.646 5.646a.5.5 0 0 1 .708 0L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.custom_select option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.custom_select:focus {
    outline: none;
}

@media (max-width: 1024px) {

    .bread_crumb,
    .page_customer_account {
        margin: 0;
    }

    .block_background {
        padding: 10px;
    }

    .row {
        display: flex;
    }

    ul.list_prd_relate li {
        width: 35%;
    }

    .col_right_ac,
    .row .block_account {
        width: 100%;
        padding: 0;
    }

    form#customer_address {
        width: 100%;
    }
}

@media (max-width: 376px) {

    .page_customer_account {
        margin: 0;
    }

    ul.List_bread_crumb .home,
    .changeurl {
        min-width: 100px;
    }

    .row.row_acc {
        margin: 0;
        display: block;
    }

    .block_account {
        width: 100%;
    }

    .col_right_ac,
    .row .block_account {
        width: 100%;
        padding: 0;
    }

    ul.list_prd_relate li {
        width: 100%;
    }

    .title_head {
        margin-bottom: 3px;
    }

    .form_signup {
        margin-top: 8px;
    }
}