* {
    font-family: 'Quicksand', sans-serif;
}
.bodywrap{
    margin-bottom: 40px;
}


/* bread_crumb */
.bread_crumb {
    background: var(--light-gray-color);
    height: 54px;
}

.container_bread_crumb {
    padding: 0px 15px;
    max-width: 1300px;
    height: 54px;
    margin: auto;
}

ul.breadcrumb {
    height: 100%;
    display: flex;
    align-items: center;
}

.breadcrumb li {
    padding-right: 10px;
}
.breadcrumb li a,
.breadcrumb li .mr_lr {
    color: var(--black-color);
    padding: 0px 3px;
}

.breadcrumb li .name_prd {
    color: var(--secondary-color);
}



/* Bodywrap */
.bodywrap{
    padding-top: 50px;
}
.cartwrap{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cartwrap .cartwrap_left{
    max-width: 975px;
}

/* productCart_header */
.productCart_header ul {
    width: 955px;
    display: flex;
    border: 1px solid #EBEBEB;
}
.productCart_header ul li{
    padding: 9px;
    font-weight: 600;
}
.productCart_header ul li:nth-child(1) {
    width: 51%;
    margin-left: 10px;
}
.productCart_header ul li:nth-child(n+2) {
    width: 16%;
}

/* productCart_body */
.productCart_body{
    width: 955px;
    border: 1px solid #EBEBEB;

}
.productCart_thumbnail{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.productCart_info{
    width: 35%;
    display: block;
}
.productCart_info a img{
    float: left;
    margin-left: 10px;
}
.productCart_info .productCart_name{
    padding-bottom: 5px;
    padding-top: 40px;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}
.productCart_info p{
    font-size: 12px;
    padding-bottom: 5px;
}
.productCart_info .delete{
    color: var(--main-color);
    border: none;
    background-color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.cart_price{
    width: 14.5%;
}
.cart_price span{
    color: #E31837;
    font-weight: 600;
}
.cart_btn{
    width: 18.5%;
}
.cart_btn .cart_select{
    width: 92px;
    height: 35px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.cart_select button{
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.cart_select input{
    width: 35%;
    text-align: center;
    border: none;
}
.cart_total{
    font-weight: 600;
    color: #E31837;
}
.cart_subtotal{
    margin-top: 30px;
    width: 295px;
    margin-left: 69.5%;
}
.cart_price{
    font-weight: 600;
    color: #E31837;
}
.cart_subtotal .subtotal{
    display: flex;
}
.subtotal{
    margin-bottom: 10px;
}
.subtotal p{
    font-size: 16px;
    width: 80%;
}
.subtotal span{
    color: #E31837;
    font-weight: 600;
}
.pay{
    width: 296px;
    text-align: center;
}
.pay a button{
    width: 100%;
    height: 43px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    background-color: var(--main-color);
    cursor: pointer;
}
.pay a button:hover{
    background-color: var(--secondary-color);
}

/* cartwrap_right */
.cartwrap_right{
    width: 297px;
    height: 124px;
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 275px;
    height: 104px;
}
form h4{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}
.timedeli_modal{
    width: 275px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.timedeli_modal .input_group_date_pick{
    width: 112px;
    height: 35px;
    border: none;
}
.timedeli_modal .input_group_date_pick input{
    width: 132px;
    padding: 0 10px;
    background-color: #fff;
    color: #898787;
    border: none;
    line-height: 35px;
    border-radius: 5px;
    outline: none;
}
.timedeli_modal .input_group_date_time{
    width: 112px;
    border: none;
}
.timedeli_modal .input_group_date_time select{
    width: 132px;
    height: 35px;
    background-color: #fff;
    border: none;
    line-height: 35px;
    border-radius: 5px;
    color: #898787;
    outline: none;
}
.bill{
    width: 275px;
    margin-top: 10px;
    display: flex;
}
.bill input{
    border: 2px solid #fff;
    padding: 7px;
    border-radius: 2px;
    display: flex;
    margin-top: 3px;
    position: relative;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
}
.bill label{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}