* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #FF7D01;
    --secondary-color: #00B2A9;
    --black-color: #000;
    --white-color: #ffff;
    --silver-gray-color: #BFBFBF;
    --light-gray-color: #eee;
    --gainsboro-color: #d9d9d9;
    --reddish-pink-color: #E4465C;
    --sky-blue-color: #64B6E4;
    --emerald-green-color: #32B268;
    --font-text-12: 12px;
    --font-text-14: 14px;
    --font-text-16: 16px;
    --font-title-20: 20px;
    --font-title-24: 24px;
}



/* bodywrap */
.container_faq {
    max-width: 1300px;
    margin: 0px auto;
}

.row_faq {
    display: flex;
}

.left_faq {
    width: 70%;
    padding: 0px 15px;
}

.faq_title,
.contacts h3 {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}

.faq_title::before,
.contacts h3::before {
    background: var(--main-color);
    content: '';
    right: 0;
    left: 0;
    position: absolute;
    bottom: -6px;
    height: 3px;
    display: block;
    z-index: 1;
    width: 40%;
}

.panel-group {
    margin-bottom: 25px;
}

.faq {
    margin-bottom: 7px;
}

.content_page h4 {
    background-color: var(--gainsboro-color);
    color: var(--black-color);
    padding: 12px 20px;
    font-size: 18px;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 5px;
}

.faq.active h4 {
    display: block;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 5px 5px 0 0;
}

.faq.active .content {
    display: block;
    border: 1px solid var(--light-gray-color);
    padding: 15px 20px;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin: auto;
}

.faq .content {
    display: none;
    border: 1px solid var(--gainsboro-color);
    padding: 15px 20px;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin: auto;
}

.right_faq {
    width: 30%;
    padding: 0px 15px;
}

.content_form {
    display: block;
    margin-bottom: 10px;
}

.group_contact input,
.group_contact textarea {
    display: block;
    border: 1px solid var(--gainsboro-color);
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
}

.group_contact textarea {
    padding: 10px 20px;
    height: 77px;

}

.group_contact button {
    background-color: var(--main-color);
    color: var(--light-gray-color);
    border: initial;
    padding: 0px 20px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 8px;
}

.group_contact button:hover {
    background-color: var(--secondary-color);
}
@media (max-width:376px){
.row_faq{
    display: block;
}
    .left_faq,
    .right_faq {
        width: 100%;
        padding: 0 10px;
    }

    .faq_title,
    .contacts h3 {
        font-size: 14px;
    }

    .content_page h4 {
        font-size: 12px;
    }

    .group_contact input,
    .group_contact textarea {
        font-size: 12px;
    }

    .group_contact button {
        line-height: 30px;
        font-size: 12px;
    }

    .container_faq {
        padding: 0 15px;
    }
}