* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-text-14);
}

.hidden {
    display: none;
}


:root {
    --main-color: #FF7D01;
    --secondary-color: #00B2A9;
    --black-color: #000;
    --white-color: #fff;
    --silver-gray-color: #BFBFBF;
    --light-gray-color: #eee;
    --gainsboro-color: #d9d9d9;
    --reddish-pink-color: #E4465C;
    --sky-blue-color: #64B6E4;
    --emerald-green-color: #32B268;
    --Crimson-Red: #E31837;
    --font-text-12: 12px;
    --font-text-14: 14px;
    --font-text-16: 16px;
    --font-title-20: 20px;
    --font-title-24: 24px;
    --font-title-30: 30px;

}

/* body */
.list-img img {
    max-width: 1300px;
    border-radius: 5px;
}

.slide-show {
    width: 1300px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 4%;
    position: relative;
}

.list-img {
    display: flex;
    transition: 0.5s;
}

.btn {
    width: 1300px;
    position: absolute;
    top: 47%;
}

.btn>.left,
.right {
    font-size: 35px;
    color: rgba(240, 248, 255, 0.578);
    position: absolute;
    cursor: pointer;

}

.btn>.left:hover,
.right:hover {
    color: white;
}

.btn>.right {
    right: 4%;
}

.btn>.left {
    left: 4%;
}


.category {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.category_title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;

}

.category_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    font-size: var(--font-title-20);
}

.category_title a {
    /* font-family: 'Lobster', sans-serif; */
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}

.category_body {
    width: 100%;
    position: relative;

}

.category_wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

}

.category_list {
    max-width: 1300px;

    display: flex;
    justify-content: space-around;
    gap: 17px;
    position: relative;

    transition: transform 0.4s ease-in-out;

}

.category_prev_btn,
.category_next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 15px;
}

.category_prev_btn {
    left: -30px;
    /* Điều chỉnh để căn khoảng cách bên trái */
}

.category_next_btn {
    right: -20px;
    /* Điều chỉnh để căn khoảng cách bên phải */
}


.category_prev_btn:disabled,
.category_next_btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.category_prev_btn:hover:enabled,
.category_next_btn:hover:enabled {
    background-color: var(--main-color);
}

.category_list .category_item {
    width: 24%;
    min-height: 122px;
    background-color: var(--main-color);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.category_list .category_item a {
    width: 310px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.category_list .category_item a:hover {
    background-color: var(--secondary-color);
    font-weight: 600;

}

.category_list .category_item a p {
    font-size: var(--font-text-16);
    color: #FFFFFF;
    margin-left: 10px;
}

.category_list .category_item a img {
    width: 100px;
    height: 80px;
    margin-right: 10px;

}

.category_list .category_item:hover img {
    transform: rotate(15deg);
    transition: all 0.3s ease;
}




.about {
    max-width: 1300px;
    margin: 0 auto;

}

.about .container {
    display: flex;
    padding-bottom: 20px;
}

.space_left {
    position: relative;
    overflow: hidden;
}

.space_left img {
    width: 403px;
    height: 403px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.space_left:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}

.space_right {
    padding-left: 30px;
}

.space_right .title_small {
    font-family: 'Lobster', sans-serif;
    color: var(--secondary-color);
    ;
    font-size: var(--font-title-20);
    margin-left: 5px;

}

.space_right .title {
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    color: var(--main-color);
    margin-left: 5px;

}

.space_right .content {
    display: block;
    max-width: 836px;
    font-size: var(--font-text-16);
    font-weight: 400;
    margin-left: 5px;
    margin-top: 20px;
}

.space_right .about_img {
    display: block;
    display: flex;
    justify-content: space-around;
    margin-top: 52px;
}

.space_right .about_img .about_list {
    list-style: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.about_img .about_list a img {
    width: 100%;
    height: 201px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.about_img .about_list:hover a img {
    transform: scale(1.1);
    filter: brightness(70%);
}


.title2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
}

.product {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.product .product1 {
    width: 49%;
    height: 162px;
    border: 1px solid #E3E3E4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.product_variants {
    width: 600px;
    height: 167px;
    padding-top: 15px;
    /* display: flex; */

}

.product_thumbnail {
    width: 140px;
    height: 167px;
    float: left;
    overflow: hidden;

}

.product .product1:hover .product_thumbnail a img {
    transform: rotate(10deg);
    transition: all 0.3s ease;
}

.product_thumbnail a img {
    width: 140px;
    height: 105px;
}

.product_thumbnail i {
    margin-left: 70%;
    font-size: 18px;
    color: var(--main-color);
}

.product_info a {
    color: var(--black-color);
}

.product_info .product_name {
    font-size: var(--font-text-16);
    padding-bottom: 7px;
}

.product_content span {
    font-size: var(--font-text-14);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product_content a {
    text-decoration: none;
    color: var(--secondary-color);
    ;

}

.group_form {
    display: flex;
    justify-content: space-between;

}

.price_box span {
    font-weight: 400;
}

.price_box p {
    color: var(--secondary-color);
    font-weight: 600;
}

.group_form a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 10px;
    font-size: var(--font-text-16);
    font-weight: 600;
    border: none;
    text-decoration: none;

}

.group_form a:hover {
    background-color: var(--secondary-color);
}


.programme {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.programme_title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;

}

.programme_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    ;
    font-size: var(--font-title-20);
}

.programme_title a {
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;

}

.programme ul {
    display: flex;
    justify-content: space-between;

}

.programme ul li {
    padding: 10px;
    width: 24%;
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.programme ul li a {
    width: 288px;
    height: 288px;


}

.programme ul li a img {
    width: 100%;
    border-radius: 5px;
}


.flashSale {
    height: 1137px;
    margin: 0 auto;
}

.flashSale_box {
    height: 810px;
    background-color: var(--main-color);
}

.flashSale_thumbnail {
    max-width: 1300px;
    display: flex;
    padding-top: 55px;
    margin: 0 auto;

}

.flashSale_right .flashSale_titleSmall {
    font-family: 'Lobster', sans-serif;
    font-size: var(--font-title-20);
    display: block;
    color: var(--secondary-color);

}

.flashSale_right .flashSale_title {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.flashSale_right .flashSale_content {
    font-size: var(--font-text-16);
    color: #fff;
    margin-bottom: 40px;
    font-family: 700;
}

.flashSale_left a img {
    width: 620px;
    height: 454px;
}

.product_fs {
    max-width: 1271px;
    height: 525px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product_fs ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.product_fs ul li {
    width: 24%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.flashSale_thumbnail {
    padding-bottom: 40px;
}

.product_thumbnail_fs {
    overflow: hidden;

}

.product_thumbnail_fs i {
    font-size: var(--font-title-20);
    color: var(--main-color);
    margin-top: 10px;
    margin-left: 90%;
    cursor: pointer;
}


.product_thumbnail_fs a img {
    width: 277px;
    height: 221px;
}

.product_fs ul li:hover .product_thumbnail_fs a img {
    transform: rotate(10deg);
    transition: transform 0.3s ease;


}

.product_info_fs {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.product_info_fs .productFs_name_link {
    color: var(--black-color);
}

.product_info_fs .productFs_name {
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product_info_fs .productFs_content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product_info_fs .see_more {
    color: var(--secondary-color);
}

.product_form_fs {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.priceFs_box p {
    font-weight: 600;
    color: var(--secondary-color);
}

.product_form_fs a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 10px;
    font-size: var(--font-text-16);
    font-weight: 600;
    border: none;
    text-decoration: none;
}

.product_form_fs a:hover {
    background-color: var(--secondary-color);
    ;
}




.product_topSelling {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.product_topSelling_title {
    text-align: center;
    padding-bottom: 20px;

}

.product_topSelling_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    ;
    font-size: var(--font-title-20);
}

.product_topSelling_title a {
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}

.product_topSelling_wrapper {
    max-width: 1300px;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.product_topSelling .product_topSelling_list {
    /* width: 100%; */
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.4s ease-in-out;

    /* flex-wrap: wrap; */
    /* gap: 10px; */
}

.prev_btn,
.next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 15px;
}

.prev_btn {
    left: 0;
    /* Điều chỉnh để căn khoảng cách bên trái */
}

.next_btn {
    right: 0;
    /* Điều chỉnh để căn khoảng cách bên phải */
}

.prev_btn:disabled,
.next_btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.prev_btn:hover:enabled,
.next_btn:hover:enabled {
    background-color: var(--secondary-color);
}


.product_topSelling_list li {
    width: 240px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #E3E3E4;
    transition: transform 0.4s ease;


}

.product_topSelling_thumbnail {
    overflow: hidden;
}

.product_topSelling_thumbnail i {
    font-size: var(--font-title-20);
    color: var(--main-color);
    margin-top: 20px;
    margin-left: 85%;
    cursor: pointer;
}


.product_topSelling_thumbnail a img {
    height: 182px;
    transition: all 0.3s ease;
}

.product_topSelling_list li:hover .product_topSelling_thumbnail a img {
    transform: rotate(10deg);
    transition: all 0.3s ease;

}

.product_topSelling_info {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}

.product_topSelling_info .product_topSelling_name {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product_topSelling_info a {
    color: var(--secondary-color);

}

.product_topSelling_info span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product_topSelling_form {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.product_topSelling_priceBox p {
    font-weight: 600;
    color: var(--secondary-color);
}

.product_topSelling_form a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 5px;
    font-size: var(--font-text-16);
    font-weight: 600;
    border: none;
    text-decoration: none;
}

.product_topSelling_form a:hover {
    background-color: var(--secondary-color);
    ;
}

/* Thanh thông báo */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--light-gray-color);
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
    z-index: 1000;
    animation: slide-in 0.5s ease;
}

.notification img {
    width: 60px;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
}

.notification_container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(163, 245, 163);
}

.notification_name {
    color: green;
}

.notification_container a {
    color: var(--secondary-color);
}

.notification_title,
.notification_name {
    margin-bottom: 10px;
}

.notification-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.notification_add_hearts {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(163, 245, 163);
    border-radius: 5px;
}

.notification_delete_hearts {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(237, 206, 175);
    border-radius: 5px;
}

.notification_name_add,
.notification_name_delete {
    margin-bottom: 10px;
}

.notification_name_add {
    color: green;
}

.notification_name_delete {
    color: darkgoldenrod;
}

.add_to_favorites {
    cursor: pointer;
    color: gray;
    font-size: 20px;
    transition: color 0.3s ease;
}

.add_to_favorites.active {
    color: var(--main-color);
}



.banner {
    width: 84%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;
}

.banner .banner_thumbnail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner_thumbnail li {
    position: relative;
    width: 33%;
    height: 287px;
    overflow: hidden;
}

.banner_thumbnail li a {
    width: 100%;
    height: 100%;
}

.banner_thumbnail li a .background_img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.banner .banner_thumbnail li a .overlay_img {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    transform: scale(0);
    /* Kích thước ban đầu */
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.banner_thumbnail li:hover a .overlay_img {
    transform: scale(1);
    /* Phóng to ảnh phủ */
    opacity: 1;
    /* Hiện ảnh phủ */
}




.product_all {
    width: 84%;
    margin: 0px auto;
    padding-bottom: 50px;
}

.product_all_title {
    text-align: center;
    padding-bottom: 20px;

}

.product_all_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    ;
    font-size: var(--font-title-20);
}

.product_all_title a {
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}

.menu_all {
    z-index: 9999;
    position: sticky;
    top: 0%;
    height: 55px;
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.menu_all li {
    background-color: #FFFFFF;
    padding: 10px 0px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;

}

.menu_all li.active {
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

.menu_all li a {
    color: var(--black-color)000;
    font-weight: 600;
    padding: 10px 20px;


}

.menu_all li:hover {
    background-color: var(--secondary-color);
}

.menu_all li:hover a {
    color: #FFFFFF;
}

.product_main {
    padding-top: 60px;
}

.title_module {
    padding-bottom: 30px;

}

.title_module a {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    ;
}

.title_module a:hover {
    color: var(--main-color);
}

.product_action {
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 40px;

}

.product_action li {
    width: 49%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.product_category {
    width: 100%;
    padding: 20px;

}

.product_category_thumbnail {
    width: 157px;
    height: 135px;
    float: left;
    overflow: hidden;
}

.product_category_thumbnail i {
    margin-left: 70%;
    font-size: var(--font-title-20);
    color: var(--main-color);
    cursor: pointer;
}

.product_category_thumbnail a img {
    width: 150px;
    height: 115px;
}

.product_category_info {
    padding-bottom: 10px;
}

.product_category_name {
    padding-bottom: 10px;
}

.product_category_content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product_category_info a {
    color: var(--secondary-color);
    ;
}

.product_category_form {
    display: flex;
    justify-content: space-between;

}

.product_category_priceBox p {
    color: var(--secondary-color);
    font-weight: 600;
}

.product_category_form a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 10px;
    font-size: var(--font-text-16);
    font-weight: 600;
    border: none;
    text-decoration: none;

}

.product_category_form a:hover {
    background-color: var(--secondary-color);
    ;
}

.product_action li:hover .product_category_thumbnail a img {
    transform: rotate(10deg);
    transition: all 0.3s ease;

}

.see_more {
    max-width: 1300px;
    text-align: center;
}

.see_more a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #FFFFFF;
    font-weight: bold;
    font-size: var(--font-text-16);
    border-radius: 5px;
}

.see_more a:hover {
    background-color: var(--secondary-color);
    ;
}

/* news */
.news {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.news_title {
    text-align: center;
    padding-bottom: 20px;

}

.news_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    ;
    font-size: var(--font-title-20);
}

.news_title a {
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}

.news_thumbnail {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.news_thumbnail a {
    color: var(--black-color);
}

.news_thumbnail a li {
    width: 302px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0px 2px 0 rgba(60, 64, 67, 0.1), 0 0px 6px 0px rgba(60, 64, 67, 0.25);

}

.block_thumb {
    width: 302px;
    height: 202px;
    overflow: hidden;

}

.news_thumbnail a li img {
    width: 302px;
    height: 202px;
    border-radius: 5px;
    transition: transform 0.5s ease, filter 0.3s ease;

}

.news_thumbnail a li:hover img {
    transform: scale(1.1);

}

.block_content {
    width: 282px;
    height: 140px;
    margin: 0 auto;

}

.block_content h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.block_content p {
    font-weight: bold;
    color: var(--secondary-color);
    ;
    margin-bottom: 8px;
}

.block_content span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* statistical */

.statistical {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.statistical .statistical_right {
    max-width: 50%;
}

.statistical_right h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 10px;
}

.statistical_right p {
    padding-bottom: 10px;
}

.num ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--secondary-color);
    ;
}

.num span {
    font-size: 18px;
    font-weight: 700;
}

.statistical_left {
    width: 48%;
    height: 200px;
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistical_thumbnail {
    width: 560px;

}

.user_info {
    width: 560px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user_info .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 80px;
    height: 80px;
}

.user_info .info b {
    color: #fff;
    margin-left: 10px;
}

.user_info .info p {
    color: #fff;
    margin-left: 10px;
}

.feedBack span {
    color: #fff;

}


.why {
    max-width: 1300px;
    height: 310px;
    margin: 0 auto;
    /* padding-bottom: 50px; */
}

.why_title {
    text-align: center;
    padding-bottom: 20px;

}

.why_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    ;
    font-size: var(--font-title-20);
}

.why_title a {
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}

.why_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.why_content li {
    width: 246px;
    text-align: center;
    cursor: pointer;
}

.why_content li:hover .icon_why {
    width: 110px;
    height: 110px;
}

.icon_why {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
    /* Hiệu ứng chuyển đổi mượt */
}

.icon_why img {
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease-in-out;
    /* Thêm hiệu ứng xoay cho ảnh */
}



.why_content h3 {
    margin-top: 10px;
    color: var(--main-color);
}






.mailchimp {
    height: 381px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailchimp .mailchip_thumb {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img_left,
.img_right img {
    width: 299px;
    height: 256px;
    margin-left: 10px;
    margin-right: 10px;
}

.mailchip_thumb .content_center {
    text-align: center;
}

.content_center h1 {
    font-size: var(--font-title-30);
    color: var(--white-color);
    margin-bottom: 30px;
}

.content_center span {
    font-size: var(--font-text-16);
    color: var(--white-color);

}

.content_center form {
    width: 520px;
    height: 41px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;

}

.content_center form input {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
}

.content_center form input::placeholder {
    font-size: 14px;
}

.content_center form button {
    width: 20%;
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: bold;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.content_center form button:hover {
    background-color: #f59b46;
}



/* reponsive */
@media screen and (max-width: 372px) {
    body {
        font-size: 12px;
    }

    header .bottom_header {
        flex-wrap: wrap;
        text-align: center;
    }

    .logo img {
        width: 150px;
        /* height: auto; */
    }

    .search_container {
        width: 100%;
        margin: 10px 0;
    }




    .btn {
        display: none;
    }

    .category_list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .category_list .category_item {
        width: 90%;
        /* height: auto; */
    }

    .slide-show {
        width: 90%;
    }

    .list-img img {
        width: 100%;
    }



    .menu_all {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px 0;
    }

    .menu_all li {
        margin: 5px;
    }

    .product_action li,
    .product_topSelling ul li,
    .programme ul li,
    .news_thumbnail a li {
        width: 100%;
    }

    .product_category_thumbnail a img,
    .product_topSelling_thumbnail a img,
    .news_thumbnail a li img {
        width: 100%;
        /* height: auto; */
    }

    .banner_thumbnail li {
        width: 100%;
        /* height: auto; */
    }

    .banner_thumbnail li a img {
        width: 100%;
        /* height: auto; */
    }

    .flashSale_thumbnail {
        flex-direction: column;
        align-items: center;
    }

    .flashSale_right,
    .flashSale_left {
        width: 100%;
    }

    .flashSale_right .flashSale_title {
        font-size: 24px;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    /* Ẩn nút mặc định */
    visibility: hidden;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top:hover {
    background-color: var(--secondary-color);
}

.scroll-to-top i {
    font-size: 20px;
}


@media (max-width: 1024px) {

    .slide-show,
    .category,
    .product,
    .product_variants,
    .programme ul {
        width: 100%;
    }


    .flashSale {
        display: none;
    }

    .category,
    .about,
    .programme,
    .banner,
    .product_main,
    .product_all {
        padding: 10px;
    }

    .btn {
        width: 1015px;
    }

    .space_right .about_img .about_list {
        width: 24%;
        max-height: 175px;
    }

    .space_left {
        width: 35%;
        border-radius: 5px;
    }

    .space_right {
        width: 65%;
    }

    .product .product1 {
        padding: 0px 10px;
        width: 49%;
    }

    .product_variants {
        overflow: hidden;
    }

    .programme ul li {
        display: block;
    }

    .flashSale_thumbnail {
        padding: 15px 20px;
    }

    .news_thumbnail {
        width: 95%;
        margin: 0px auto;
    }

    .statistical {
        display: none;
    }

    .mailchimp {
        overflow: hidden;
    }

    .product_thumbnail_fs i {
        margin-left: 85%;
    }

    .product_thumbnail_fs a img {
        width: 100%;
        height: 100%;
    }

    .banner_thumbnail li a .background_img {
        width: 95%;
        height: 85%;
    }

    .banner .banner_thumbnail li a .overlay_img {
        position: absolute;
        width: 95%;
        height: 85%;
    }
}

@media (max-width: 376px) {

    .bodywrap {
        overflow: hidden;
    }

    .list-img img {
        width: 100%;
    }

    .category_title {
        padding: 15px 0px;
    }

    .category_list {
        overflow: hidden;
    }

    .category_list .category_item {
        width: 100%;
        margin-right: 10px;
    }

    .space_right {
        width: 100%;
        padding: 0;
    }

    .about_img .about_list a img {
        max-height: 100px;
    }

    .product {
        display: block;
    }

    .product .product1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .product_content {
        position: relative;
        max-height: 50px;
    }

    .product_content a {
        position: absolute;
        top: 33px;
    }

    .flashSale_thumbnail {
        display: block;
    }

    .flashSale_left a img {
        width: 100%;
        height: 100%;
    }

    .product_fs {
        max-height: 350px;
    }

    .banner {
        width: 100%;
    }

    .banner_thumbnail li {
        max-height: 165px;
    }

    .product_all {
        width: 100%;
    }

    .menu_all {
        padding: 0px 5px;
        justify-content: space-between;
    }

    .menu_all li {
        padding: 10px 5px;
        margin: 0;
    }

    .menu_all li a {
        padding: 5px;
        margin: 0;
    }

    .news_thumbnail a,
    .block_thumb,
    .news_thumbnail a li {
        width: 100%;
    }

    .news_thumbnail a li img {
        width: 350px;
    }

    .why_content li {
        width: 19%;
    }

    .icon_why {
        width: 50px;
        height: 50px;
    }

    .why_content li:hover .icon_why {
        width: 55px;
        height: 55px;
    }

    .icon_why img {
        width: 50%;
        height: 50%;
    }

    .why_content h3 {
        font-size: 12px;
    }

    .mailchip_thumb .content_center,
    .content_center form {
        width: 100%;
    }

    .content_center form input {
        width: 65%;
        margin-left: 8%;
    }

    footer,
    .space_left,
    .img_left,
    .img_right {
        display: none;
    }
}