/* product */
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-size: 14px;
}
:root {
    --black-color: #000;
    --light-gray-color: #eee;
    --white-color: #fff;
    --secondary-color: #00B2A9;
    --main-color: #FF7D01;
    --font-text-12: 12px;
    --font-text-14: 14px;
    --font-text-16: 16px;
    --font-text-18: 18px;
    --font-text-30: 30px;
}
/* I. Header */
/* II. Navigation */
/* Bredcrum */
.bread_crumb {
    background: var(--light-gray-color);
    height: 54px;
}
.container_bread_crumb {
    padding: 0px 15px;
    max-width: 1300px;
    height: 54px;
    margin: auto;
}
ul.breadcrumb {
    height: 100%;
    display: flex;
    align-items: center;
}
.breadcrumb li {
    padding-right: 10px;
}
.breadcrumb li a,
.breadcrumb li .mr_lr {
    color: var(--black-color);
    padding: 0px 3px;
}
.breadcrumb li .name_prd {
    color: var(--secondary-color);
}
/* Danh mục */
.category {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.category_title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.category_title b {
    font-family: 'Lobster', cursive;
    color: var(--secondary-color);
    font-size: var(--font-title-20);
}
.category_title a {
    /* font-family: 'Lobster', sans-serif; */
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}
.category_body {
    width: 100%;
    position: relative;
}
.category_wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.category_list {
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    gap: 17px;
    position: relative;
    transition: transform 0.4s ease-in-out;
}
.category_prev_btn,
.category_next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 15px;
}
.category_prev_btn {
    left: -20px;
    /* Điều chỉnh để căn khoảng cách bên trái */
}
.category_next_btn {
    right: -20px;
    /* Điều chỉnh để căn khoảng cách bên phải */
}
.category_prev_btn:disabled,
.category_next_btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
.category_prev_btn:hover:enabled,
.category_next_btn:hover:enabled {
    background-color: var(--main-color);
}
.category_list .category_item {
    width: 24%;
    min-height: 122px;
    background-color: var(--main-color);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.category_list .category_item a {
    width: 310px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.category_list .category_item a:hover {
    background-color: var(--secondary-color);
    font-weight: 600;
}
.category_list .category_item a p {
    font-size: var(--font-text-16);
    color: #FFFFFF;
    margin-left: 10px;
}
.category_list .category_item a img {
    width: 100px;
    height: 80px;
    margin-right: 10px;
}
.category_list .category_item:hover img {
    transform: rotate(15deg);
    transition: all 0.3s ease;
}
.body_wrap {
    margin-bottom: 30px;
}
/* Product */
.product_topSelling {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.product_topSelling_title {
    text-align: left;
    padding-bottom: 20px;
}
.product_topSelling_title a {
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
}
.product_topSelling ul {
    max-width: 1271px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 16px;
}
.product_topSelling ul li {
    width: 240px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #E3E3E4;
}
.product_topSelling_thumbnail {
    overflow: hidden;
}
.product_topSelling_thumbnail i {
    color: var(--main-color);
    margin-top: 20px;
    margin-left: 85%;
    cursor: pointer;
}
.product_topSelling_thumbnail a img {
    width: 238px;
    height: 182px;
    transition: all 0.3s ease;
}
.product_topSelling ul li:hover .product_topSelling_thumbnail a img {
    transform: rotate(10deg);
    transition: all 0.3s ease;
}
.product_topSelling_info {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}
.product_topSelling_info .product_topSelling_name {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.product_topSelling_info a {
    color: var(--secondary-color);
}
.product_topSelling_info span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product_topSelling_form {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.product_topSelling_priceBox p {
    font-weight: 600;
    color: var(--secondary-color);
}
.product_topSelling_form a {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 5px;
    font-size: var(--font-text-16);
    font-weight: 600;
    border: none;
    text-decoration: none;
}
.product_topSelling_form a:hover {
    background-color: var(--secondary-color);
    ;
}
.see_detail {
    margin: 10px;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see_detail a {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px 10px;
    color: var(--white-color);
    font-weight: bold;
}
.see_detail a span {
    color: var(--white-color);
    font-size: var(--font-text-16);
}
.see_detail a:hover {
    background-color: var(--secondary-color);
}
